@model PRAGATIVTSMVC.Models.ScheduleRoutes

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout2.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ScheduleRoutes</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.RouteName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteName)
                @Html.ValidationMessageFor(model => model.RouteName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteCode)
                @Html.ValidationMessageFor(model => model.RouteCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteStartDate)
                @Html.ValidationMessageFor(model => model.RouteStartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteEndDate)
                @Html.ValidationMessageFor(model => model.RouteEndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteCategoryId)
                @Html.ValidationMessageFor(model => model.RouteCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteStatus)
                @Html.ValidationMessageFor(model => model.RouteStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteCreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteCreatedBy)
                @Html.ValidationMessageFor(model => model.RouteCreatedBy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RouteModifiedBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RouteModifiedBy)
                @Html.ValidationMessageFor(model => model.RouteModifiedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
