@{
    ViewBag.Title = "IB_SUMMARYREPORTS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="load"></div>
<div class="container-fluid">
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Report</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/frm_GridTrack_Distance">Home</a></li>
                <li class="breadcrumb-item active">Report</li>
            </ol>
        </div>
    </div>
    <div class="row" id="divrow">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-6">
            @*Select Workorder <select multiple id="e1" style="width:300px"></select>*@
            Select Workorder <input type="text" id="e1" class="form-control" style="width:300px" />
            <input type="button" value="Submit" onclick="Binddata()" class="btn btn-primary" />
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <input type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("ExcelDownloadsummary", "Bajajib")'" value="DETAILS" />
    <input style="float:right;margin-bottom:10px" type="button" value="back" onclick="window.location.href='@Url.Action("frm_GridTrack_CAB", "Bajajib")'" class="btn btn-danger" />
    <div>
        <table id="tblreports" border="0" style="font-size: 11px; width:100%" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0"  width="100%">
            <thead>
                <tr>
                    <th>TRANSPORTER</th>
                    <th>WORK ORDER NO</th>
                    <th>COUNTRY</th>
                    <th>QUANTITY</th>
                    <th>NO OF CONTAINERS</th>
                    <th>CONTAINER NUMBER</th>
                    <th>PLANT</th>
                    <th>INDENT CREATION</th>
                    <th>DO ACKNOWLEDGEMENT</th>
                    <th>PICKUP TIME</th>
                    <th>TRIP START</th>
                    <th>PLANT IN</th>
                    <th>PLANT OUT</th>
                    <th>PORT IN</th>
                    <th>TRIP END</th>
                </tr>
            </thead>
            <tbody id="tbldevicebody">
                @foreach (var item in ViewBag.TRAILERTRPORT)
                {
                    <tr>
                        <td>@item.CATEG_NAME</td>
                        <td>@item.TRIP_WORKORDER_ID</td>
                        <td>@item.COUNTRY</td>
                        <td>@item.QUANTITY</td>
                        <td>@item.CONTAINERS</td>

                        <td>@item.LRNO</td>
                        <td>@item.PLANT</td>
                        <td>@item.INDENTCREATION</td>
                        <td>@item.DOSTATUS</td>
                        <td>@item.PICKUPTIME</td>
                        @if (item.TRIPSTART == null || item.TRIPSTART == "")
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@item.TRIPSTART</td>
                        }
                        
                        @if (item.GATEIN == null || item.GATEIN == "")
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@item.GATEIN</td>
                        }
                        @if (item.GATEOUT == null || item.GATEOUT == "")
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@item.GATEOUT</td>
                        }
                        @if (item.PORTIN == null || item.PORTIN == "")
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@item.PORTIN</td>
                        }
                        @if (item.TRIPEND == null || item.TRIPEND == "")
                        {
                            <td>NA</td>
                        }
                        else
                        {
                            <td>@item.TRIPEND</td>
                        }
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>

    window.onload = function () {

        $("#load").hide();





        $('#tblreports thead tr').clone(true).appendTo('#tblreports thead');
        $('#tblreports thead tr:eq(1) th').each(function (i) {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
        });

        //var table = $('#tblreports').DataTable({
        //    dom: 'Brtip',
         
        //    "ordering": false,
        //    "paging": false,
        //    buttons: [
        //        'excel', 'pdf', 'print',
        //    ],
        //    "scrollX": true,
        //    orderCellsTop: true,
        //    fixedHeader: true
        //});





        var table = $('#tblreports').DataTable({
            dom: 'Brtip',
            // "ordering": false,
            "ordering": false,
            "paging": false,
            buttons: [
                'excel', 'pdf', 'print',
            ],
            "scrollX": true,
            "scrollY": true,
            scrollY: "300px",
            scrollCollapse: true,
            orderCellsTop: true,
            fixedHeader: true
        });








        //$('#tblreports').DataTable({
        //    dom: 'Bfrtip',
        //    // "ordering": false,
        //    "ordering": false,
        //    "paging": false,
        //    buttons: [
        //        'excel', 'pdf', 'print',
        //    ],
        //    "scrollX": true
        //});


        workorders();
    }

    function workorders(){
        $.post("/BAJAJIB/frm_all_workorders", function (data) {
            var dataT = data['data'];
            $("#e1").empty();
            var opt = "<option value='0'>ALL</option>";
            for (var i = 0; i < dataT.length; i++) {
                opt += "<option value='" + dataT[i].Workordervalue + "'>" + dataT[i].Workordertext + "</option>";
            }
            $("#e1").text("");
            $('#e1').append(opt);
            $("#e1").select2();
        });
    }

    function Binddata(){


        localStorage.setItem("WIDS", $("#e1").val());

        var IDS = localStorage.getItem("WIDS");

        if ($("#e1").val() != null)
        {
            if ($("#e1").val() != 0)
            {


                $("#tblreports").empty();
                $.post("/BAJAJIB/SUMMARYREPORTS_FILTER", { "WORKORDERIDS": IDS }, function (data) {
                    var datat = data['data'];
                    if ($.fn.dataTable.isDataTable('#tblreports')) {
                        $('#tblreports').DataTable().destroy();
                    }
                    for (var i = 0; i < datat.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + datat[i].CATEG_NAME + "</td>");
                        tr.append("<td>" + datat[i].TRIP_WORKORDER_ID + "</td>");
                        tr.append("<td>" + datat[i].COUNTRY + "</td>");
                        tr.append("<td>" + datat[i].QUANTITY + "</td>");
                        tr.append("<td>" + datat[i].CONTAINERS + "</td>");
                        tr.append("<td>" + datat[i].LRNO + "</td>");
                        tr.append("<td>" + datat[i].PLANT + "</td>");
                        tr.append("<td>" + datat[i].INDENTCREATION + "</td>");
                        tr.append("<td>" + datat[i].DOSTATUS + "</td>");
                        tr.append("<td>" + datat[i].PICKUPTIME + "</td>");
                        if (datat[i].TRIPSTART == null || datat[i].TRIPSTART == "")
                        {
                            tr.append("<td>NA</td>");
                        }
                        else
                        {
                            tr.append("<td>" + datat[i].TRIPSTART + "</td>");
                        }
                        if (datat[i].GATEIN == null || datat[i].GATEIN == "")
                        {
                            tr.append("<td>NA</td>");
                        }
                        else
                        {
                            tr.append("<td>" + datat[i].GATEIN + "</td>");
                        }
                        if (datat[i].GATEOUT == null || datat[i].GATEOUT == "")
                        {
                            tr.append("<td>NA</td>");
                        }
                        else
                        {
                            tr.append("<td>" + datat[i].GATEOUT + "</td>");
                        }
                        if (datat[i].PORTIN == null || datat[i].PORTIN == "")
                        {
                            tr.append("<td>NA</td>");
                        }
                        else
                        {
                            tr.append("<td>" + datat[i].PORTIN + "</td>");
                        }
                        if (datat[i].TRIPEND == null || datat[i].TRIPEND == "")
                        {
                            tr.append("<td>NA</td>");
                        }
                        else
                        {
                            tr.append("<td>" + datat[i].TRIPEND + "</td>");
                        }
                        $("#tblreports").append(tr);
                    }
                    //$('#tblreports').DataTable({
                    //    dom: 'Bfrtip',
                    //    "scrollX": true,
                    //    "ordering": false,
                    //    "paging": false,
                    //    buttons: [
                    //        //'copy', 'csv', 'excel', 'pdf', 'print'
                    //        'excel', 'pdf', 'print'
                    //    ]
                    //});

                    var table = $('#tblreports').DataTable({
                        dom: 'Brtip',
                        // "ordering": false,
                        "ordering": false,
                        "paging": false,
                        buttons: [
                            'excel', 'pdf', 'print',
                        ],
                        "scrollX": true,
                        "scrollY": true,
                        scrollCollapse: true,
                        orderCellsTop: true,
                        fixedHeader: true
                    });
                });
            }
            else
            {
                location.reload();
            }
        }
        else {
            alert("Select Workorder..")
        }
    }

</script>
